.checkBox {
    display: flex;
    border: 1px solid blanchedalmond;
} 
input[type="checkbox"].toggle {
    opacity: 0;
    position: absolute;
    left: -9000px;
    top: -9000px;
}

input[type="checkbox"].toggle + label {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 20px;
    cursor: pointer;
}

input[type="checkbox"].toggle + label::before {
    content: "";
    width: 2em;
    height: 1em;
    background-color: #DDD;
    border-radius: 1em;
    margin-right: .25em;
    transition: background-color 200ms ease-in-out;
}

input[type="checkbox"].toggle + label::after {
    content: "";
    position: absolute;
    width: 0.9em;
    left:0.1em;
    height: 0.9em;
    background-color: white;
    border-radius: 1em;
    margin-right: .5em;
    transition: background-color 200ms ease-in-out, transform 200ms ease-in-out;
}

/* Color Change State: true */
input[type="checkbox"].toggle:checked + label::before {
    background-color: hsl(100,70%,80%);
}

input[type="checkbox"].toggle:checked + label::after {
    transform:translateX(100%);
    background-color: hsl(100,70%,60%);
}

input[type="checkbox"].toggle:checked + label {
    color: hsl(100,70%,60%);
}

/* Focus border */
input[type="checkbox"].toggle:focus + label::before  {
    border: 1px solid black;
}